<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>24G84</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-GB</string>
	<key>CFBundleDisplayName</key>
	<string>McDonald's</string>
	<key>CFBundleExecutable</key>
	<string>GMALite</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.mcdonalds.mobileapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GMALite</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.46.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mcdonalds.mobileapp.web</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gmalite</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.mcdonalds.mobileapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tagmanager.c.com.mcdonalds.redesign</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mcdonalds.mobileapp.firebase</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.mcdonalds.mobileapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb646333089534009</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>27000</string>
	<key>DTAppStoreToolsBuild</key>
	<string>18C503a</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23B77</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23B77</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1</string>
	<key>DTXcode</key>
	<string>2611</string>
	<key>DTXcodeBuild</key>
	<string>17B100</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>FacebookAppID</key>
	<string>646333089534009</string>
	<key>FacebookDisplayName</key>
	<string>McDonald's</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>GoogleTagManagerUrlScheme</key>
	<string>tagmanager.c.com.mcdonalds.redesign</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>comgooglemaps</string>
		<string>navigon</string>
		<string>line</string>
		<string>octopus</string>
		<string>googlegmail</string>
		<string>ms-outlook</string>
		<string>ymail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>16.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>dif-stg.gmal.app</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<true/>
			</dict>
			<key>dif.gmal.app</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>McDonald's would like to use the camera.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your position to provide you with local offers as well as show our nearest restaurants.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use your position to provide you with local offers as well as show our nearest restaurants.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your position to provide you with local offers as well as show our nearest restaurants.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>McDonald's would like to use the microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>{human-readable reason for photo access}</string>
	<key>NSPrivacyTrackingDomains</key>
	<array>
		<string>ep1.facebook.com</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>McDonald's would like to use your identifier for advertisment.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>Speedee-App-Bold.ttf</string>
		<string>Speedee-App-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
